<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>HelloApp</title>
=======
    <title>ToyApp</title>
>>>>>>> db87fec (Add hello)
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
